.header {
    top: 5px;
    left:5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
    position: absolute;
}

.mainbody {
    top: 114px;
    bottom: 64px;
    left: 114px;
    right: 114px;
    padding-right: 5px;
    position: absolute;
}

.footer {
    bottom: 5px;
    height: 10px;
    left: 5px;
    right: 5px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    position: absolute;
}

.des {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: black;
}

.foot {
    bottom: 5px;
    height: 10px;
    left: 5px;
    right: 5px;
    font-size:20px;
    color: white;
    text-align: center;
}

.background {
    background-image: url('../images/IMG_0271_jpg.JPG');
    background-position: bottom right;
}
